.children-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.child{
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    border-radius: 0.55rem;
    cursor: pointer;
    max-width: 350px;
}

.child-card-header{
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    gap: 0.5rem;
}

.child-name{
    font-size: 1.75rem;
    font-weight: 600;
}

.male.selected{
    background-color: #1818e1db;
    color: white;
}

.female.selected{
    background-color: #f876b4;
    color: white;
}

.accept-area{
    display: flex;
    justify-content: center;
}

.accept-button{
    background-color: rgb(50, 169, 50);
    color: white;
    width: 100%;
    max-width: 350px;
    margin: 3rem 0;
}