#root{
  height: 100vh;
}

.navbar{
  height: 55px;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar div{
  font-size: x-large;
  font-weight: bolder;
}

.logo{
  margin-left: 1rem;
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  align-items: center;
  background-color: rgb(247, 126, 13);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.navbar div span{
  font-size: small;
}

.content{
  margin: 0 50px;
}
